## Deskpro API Configuration
$apiKey = ""
$baseUrl = "https://Your-Instance.deskpro.com/api/v2" #Edit this

# Headers for Deskpro API requests
headers = @{
    "Authorization" = "key $apiKey"
    "Content-Type"  = "application/json"
}
